@import "tailwindcss";

@layer base {
  .font-alata {
  font-family: 'Alata', sans-serif;
}

.font-alatsi {
  font-family: 'Alatsi', sans-serif;
}

 /* Add more custom font classes as needed */

  body, html {
    overflow-x: hidden;
    background-color: #080B1F;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f3f4f6;
  }

  ::-webkit-scrollbar-thumb {
    background: #080B1F;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #E29D42;
    opacity: 0.8;
  }
}
